<!-- Breadcrumbs - Fil d'Ariane -->
<!-- Permet à l'utilisateur de naviguer dans la hiérarchie des pages -->

<nav aria-label="breadcrumb" class="mb-4">
    <ol class="breadcrumb bg-white shadow-sm p-3 rounded">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:accueil' %}" class="text-decoration-none text-secondary">
                <i class="bi bi-house-door-fill me-1"></i> Accueil
            </a>
        </li>
        {% block breadcrumbs %}{% endblock %}
    </ol>
</nav>
